extends layout

block content
  div.container
    div.content
      h1= title
      p Welcome to #{title}
      // Container for the react application
      div#react-app(data-host="#{serverApiUrl}")
      // Load the script after the react container has been mounted to DOM

  script(src="/react/homeApp.bundle.js")
