extends layout

block content
  div.container
    div.content
      h1= title
      p Welcome to #{title}

      form#search-form(method="GET", action="/search")
        .input-group
          input.form-control(type="text", placeholder="Search for composer, artist, work ...", name="q")
          span.input-group-btn
            button.btn.btn-secondary(type="button") Search!
