extends layout

block content
  div.container
    div.content
      h1= title
      p Welcome to #{title}
      button(type="button").btn.btn-primary Bootstrap
      // Container for the react application
      div#react-app
      // Load the script after the react container has been mounted to DOM
      script(src="/react/firstSampleApp.bundle.js")
