extends layout

block content
  .container
    .content
      div#react-app
  script(type="text/javascript").
    window.__dataForReact = !{JSON.stringify(data)};
  script(src="/react/searchApp.bundle.js")
