.Feedback__popover {
  float: right;
  padding-top: 3px;
  margin-left: 15px;
  margin-right: 3px;

  circle {
    fill: #555;
  }

  &:hover circle {
    fill: black;
  }
}

.Feedback__tooltip {
  background-color: transparent!important;
  pointer-events: auto!important;
  padding-bottom: 0!important;
}
