@import 'common';

.link line {
  stroke: #999;
  stroke-opacity: .6;
}

.node {
  &--group {
    cursor: pointer;
  }
  &--leaf {
    fill: white;
    pointer-events: none;
  }
}

.label {
  pointer-events: none;
}
