@import 'variables';

// Override variables here
$control-bar-height: (
  xs: 90px,
  sm: 45px,
  md: 45px
);
$control-bar__title-align: (
  xs: left,
  sm: left,
  md: left
);

@import 'common';

// Custom widget styles
.relation-widget__search__field {
  margin-top: 3px;
}

.widget__control-bar__title {
  line-height: 45px;
}

.relation-widget-list__item {
  border-bottom: #555555 1px solid;
}

.relation-item {
  height: 40px;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}